html,
body {
  margin: 0;
  padding: 0;
}

.body-bg {
  background: #f0f0f0;
}

body {
  font-family: "IBM Plex Mono", monospace;
}

.loading-screen {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  background-color: #969696;
  width: 0%;
  height: 100%;
}

.load-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
  pointer-events: none;
}

.wrapper {
  padding: 1em;
}

.homelogo {
  margin-top: -20px;
  font-weight: bold;
  font-size: 1.8rem;
}

.menu-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu-bar a {
  text-decoration: none;
  font-size: 1.2em;
  padding-right: 1em;
}

.menu-color-black a {
  color: black;
}

.menu-color-grey a {
  color: #e6e6e6;
}

.left {
  height: 100vh;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 20vh;
}

.homeheading {
  opacity: 0;
  font-size: 5em;
  font-family: "Open Sans", sans-serif;
}

.hometext {
  opacity: 0;
  background-color: white;
  padding: 1em;
  font-size: 1em;
  width: 40%;
}

@media all and (max-width: 668px) {
  .hometext {
    width: 80%;
    background-color: red;
  }
}

.homebg {
  width: 50%;
  height: 100%;
  min-width: 300px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

@media all and (max-width: 668px) {
  .homebg {
    display: none;
  }
}

.homesection1 {
  margin: 0 -1em;
  width: calc(100vw-1em);
}

.banner {
  width: 100%;
  height: 500px;
  color: white;
  font-size: 2em;
  position: relative;
  overflow: hidden;
}

.imgwrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner img {
  width: 200vw;
  height: 200vh;
}

.banner span {
  position: absolute;
  padding: 50px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-family: "Open Sans", sans-serif;
}

@media all and (max-width: 668px) {
  .banner span {
    position: initial;
    padding: 0;
    top: auto;
    -webkit-transform: none;
            transform: none;
  }
}

.banner span a {
  text-decoration: none;
  color: white;
}

.banner span a:hover {
  color: #c8c8c8;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row div {
  width: 50%;
  height: 500px;
}

.col1 {
  background-image: url("../assets/building2.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px 5px 10px 10px;
  position: relative;
}

.col2 {
  background-image: url("../assets/building3.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px 10px 10px 5px;
  position: relative;
}

.homesection1span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  font-size: 1.2em;
  font-family: "Open Sans", sans-serif;
  color: white;
}

.homesection2 {
  margin: 0 -1em -1em -1em;
  width: calc(100vw-1em);
  padding: 20px;
  height: 450px;
  background: #828282;
  position: relative;
}

.homesection2 div:nth-of-type(-n + 2) {
  font-family: "Open Sans", sans-serif;
  font-size: 4em;
}

.changetext {
  font-family: "Open Sans", sans-serif;
  font-size: 4em;
  -webkit-text-stroke: 1px white;
  -webkit-text-fill-color: #828282;
}

.button1 {
  border: 1px solid white;
  border-radius: 50px;
  padding: 10px;
  width: 100px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  position: absolute;
  right: 5%;
  bottom: 5%;
}

.button1 a {
  text-decoration: none;
  color: white;
}

.button1:hover {
  cursor: pointer;
  background: white;
}

.button1:hover a {
  color: #828282;
}

.pun-wrapper {
  overflow: hidden;
  padding-bottom: 30px;
}

.pun {
  font-family: "Noto Sans", sans-serif;
  color: black;
  font-size: 9vw;
  margin: 0;
  line-height: 1;
  margin-top: 3rem;
}

.explain-wrapper {
  overflow: hidden;
}

.explain {
  margin-top: 5rem;
}

.aboutinfo {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aboutinfo div {
  padding: 10px;
}

.aboutinfo .number {
  font-size: 2rem;
  margin: 0;
}

.aboutinfo .desc {
  margin-top: 10px;
  margin-bottom: 0;
  font-weight: bold;
}

.about-wrapper {
  margin: 0 -1em;
  margin-top: 10rem;
  height: 600px;
  background-image: url("../assets/about2.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.about-wrapper:after {
  content: "About Lorem";
  position: absolute;
  font-size: 6rem;
  top: 0;
  left: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.characteristics {
  margin: 0 auto;
  margin-top: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.characteristics img {
  width: 80px;
  border-radius: 50px;
}

.characteristics div {
  padding: 10px;
  overflow: hidden;
}

.about3 {
  background: #323232;
  margin: 0 -1em -1em -1em;
  margin-top: 8rem;
  height: 500px;
  position: relative;
  text-align: center;
}

.pj-section {
  margin-top: 100px;
}

.pj-wrapper {
  position: relative;
  max-width: 1260px;
  margin: auto;
}

.pj-title {
  font-size: 3em;
  width: 60%;
  padding-bottom: 10px;
  color: lightgrey;
}

.pj-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pj-info {
  height: 10%;
  width: 30%;
  border-top: 1px solid black;
  padding: 10px;
  cursor: pointer;
}

.pj-bottomline {
  height: 2px;
  background: black;
  margin-top: 10px;
  margin-left: -10px;
  margin-right: -10px;
}

.pj-img {
  z-index: -1;
  width: 60%;
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
}

#pj1 {
  margin-bottom: 8em;
}

.gridBlock {
  opacity: 1;
}

/* Grid almost fully pulled from https://www.rino-pelle.com/ */
.grid-container {
  width: 100%;
  height: 400vh;
  position: relative;
  overflow: hidden;
}

.grid {
  top: 0;
  left: 0;
  z-index: 1;
  width: 70vw;
  height: 60vw;
  margin: 0 calc(100vw / 20 * 3);
  position: absolute;
}

@media only screen and (max-width: 580px) {
  .grid {
    margin: 0;
    width: 100vw;
    height: 89.444vw;
  }
}

.gridBlock {
  background-size: cover;
  background-color: darkgray;
}

.gridLayer {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  will-change: transform;
  -webkit-transform-origin: 44.951% 50%;
          transform-origin: 44.951% 50%;
}

.gridLayer:nth-child(1) .gridBlock {
  top: 5vw;
  left: 20vw;
  width: 10vw;
  height: 10vw;
}

@media only screen and (max-width: 580px) {
  .gridLayer:nth-child(1) .gridBlock {
    top: 11.111vw;
    left: 23.889vw;
    width: 15vw;
    height: 15vw;
  }
}

.gridLayer:nth-child(2) .gridBlock {
  top: 0;
  left: 32.5vw;
  width: 15vw;
  height: 15vw;
}

@media only screen and (max-width: 580px) {
  .gridLayer:nth-child(2) .gridBlock {
    top: 0;
    left: 43.333vw;
    width: 26.389vw;
    height: 26.389vw;
  }
}

.gridLayer:nth-child(3) .gridBlock {
  left: 0;
  top: 25vw;
  width: 15vw;
  height: 15vw;
}

@media only screen and (max-width: 580px) {
  .gridLayer:nth-child(3) .gridBlock {
    top: 30.278vw;
    left: 0;
    width: 26.389vw;
    height: 26.389vw;
  }
}

.gridLayer:nth-child(4) .gridBlock {
  top: 17.5vw;
  left: 17.5vw;
  width: 30vw;
  height: 30vw;
}

@media only screen and (max-width: 580px) {
  .gridLayer:nth-child(4) .gridBlock {
    top: 30.278vw;
    left: 30.278vw;
    width: 39.444vw;
    height: 39.444vw;
  }
}

.gridLayer:nth-child(5) {
  z-index: 1;
}

.gridLayer:nth-child(5) .gridBlock {
  top: 20vw;
  left: 50vw;
  width: 5vw;
  height: 5vw;
}

@media only screen and (max-width: 580px) {
  .gridLayer:nth-child(5) .gridBlock {
    top: 23.889vw;
    left: 73.889vw;
    width: 15.278vw;
    height: 15.278vw;
  }
}

.gridLayer:nth-child(5) a {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gridLayer:nth-child(5) svg {
  width: 1.75vw;
}

@media only screen and (max-width: 580px) {
  .gridLayer:nth-child(5) svg {
    width: 4.722vw;
  }
}

.gridLayer:nth-child(6) .gridBlock {
  left: 50vw;
  top: 27.5vw;
  width: 20vw;
  height: 20vw;
}

@media only screen and (max-width: 580px) {
  .gridLayer:nth-child(6) .gridBlock {
    top: 43.889vw;
    left: 73.889vw;
    width: 26.389vw;
    height: 26.389vw;
  }
}

.gridLayer:nth-child(7) .gridBlock {
  left: 10vw;
  top: 42.5vw;
  width: 5vw;
  height: 5vw;
}

@media only screen and (max-width: 580px) {
  .gridLayer:nth-child(7) .gridBlock {
    display: none;
  }
}

.gridLayer:nth-child(8) .gridBlock {
  bottom: 5vw;
  left: 42.5vw;
  width: 5vw;
  height: 5vw;
}

@media only screen and (max-width: 580px) {
  .gridLayer:nth-child(8) .gridBlock {
    display: none;
  }
}

.gridLayer:nth-child(9) .gridBlock {
  bottom: 0;
  left: 50vw;
  width: 10vw;
  height: 10vw;
}

@media only screen and (max-width: 580px) {
  .gridLayer:nth-child(9) .gridBlock {
    top: 73.889vw;
    left: 58.889vw;
    width: 15.278vw;
    height: 15.278vw;
  }
}

.gridBlock {
  display: block;
  position: absolute;
}
/*# sourceMappingURL=style.css.map */